.search-blocks

    .block-container
        display: grid
        grid-template-columns: repeat(35, 50px)
        grid-gap: 5px

        .block

            background-color: #ECE5C7
            width: 50px
            height: 50px

            &-start
                background-color: green !important

            &-end
                background-color: yellow !important

            &-visited
                background-color: #A5BECC !important

            &-result
                background-color: blue !important

            &-wall
                background-color: #354259 !important
